<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets">
    <access origin="*" />
    <preference name="phonegap-version" value="3.6.3" />
    <preference name="SplashScreenDelay" value="10000" />
    <feature name="Accelerometer">
        <param name="wp-package" value="Accelerometer" />
    </feature>
    <feature name="File">
        <param name="wp-package" value="File" />
    </feature>
    <feature name="Media">
        <param name="wp-package" value="Media" />
    </feature>
    <feature name="InAppBrowser">
        <param name="wp-package" value="InAppBrowser" />
    </feature>
    <feature name="Notification">
        <param name="wp-package" value="Notification" />
    </feature>
    <feature name="Camera">
        <param name="wp-package" value="Camera" />
    </feature>
    <feature name="Device">
        <param name="wp-package" value="Device" />
    </feature>
</widget>
